@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">
    <h1 style="color:white" class="display-4">Choose Products</h1>

</div>
<body style="background-image: url(../Images/lifting.jpg); background-size: cover; background-attachment: fixed;  background-position: center center; text-align:center; vertical-align:middle">
    @*<button style="font-size: 50px; color:white; vertical-align:central; text-align:center" type="button" class="btn btn-outline-secondary">Supplements</button>
        <button style="font-size: 50px; color:white; vertical-align:central; text-align:center" type="button" class="btn btn-outline-secondary">Apparel</button>
        <button style="font-size: 50px; color:white; vertical-align:central; text-align:center" type="button" class="btn btn-outline-secondary">Workouts</button>*@
    @*<div  class="btn-group" role="group" aria-label="Basic example">
            <button  style="font-size: 50px; color:white; vertical-align:central; text-align:center" type="button" class="btn btn-outline-secondary">Supplements</button>
            <button  style="font-size: 50px; color:white; vertical-align:central; text-align:center" type="button" class="btn btn-outline-secondary">Apparel</button>
            <button  style="font-size: 50px; color:white; vertical-align:central; text-align:center" type="button" class="btn btn-outline-secondary">Workouts</button>
        </div>*@
    @*<div style="align-content:center; background:none">
            <div  class="card" style="width: 18rem;">
                <div style="background:none" class="card-body">
                    <h5 class="card-title">Supplements</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Supplement Info and Pricing</h6>
                    <p class="card-text">Our latest supplement selection, perfectly dosed for every person needs.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Apparel</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Apparel Info and Pricing</h6>
                    <p class="card-text">Our latest apparel selection, perfectly sized for every person needs.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Supplements</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-secondary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Apparel</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-secondary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</body>

